name: Create Release

permissions:
  contents: write

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

jobs:
  release:
    if: (github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release')) || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
          submodules: true

      - name: Setup Mise JDX
        run: |
          curl https://mise.run | sh
          echo "$HOME/.local/share/mise/bin" >> $GITHUB_PATH
          echo "$HOME/.local/share/mise/shims" >> $GITHUB_PATH
          echo "eval \"\$(mise activate bash)\"" >> ~/.bash_profile

      - name: get latest tags
        id: tags
        run: |
          echo "new_tag=$(cd src/temporalio_api && git describe --abbrev=0 --tags)" >> "$GITHUB_OUTPUT"

      - name: Publish to Hex.pm
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
        run: |
          mise x erlang elixir -- mix deps.get
          mise x erlang elixir -- mix hex.publish --yes

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tags.outputs.new_tag }}
          release_name: Release ${{ steps.tags.outputs.new_tag }}
          body: |
            See [upstream release notes][1]

            [1]: https://github.com/temporalio/api/releases/tag/${{steps.tags.outputs.new_tag}}
          draft: false
          prerelease: false
